<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
    
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Lista de Tarefas</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <main class="container">
        <header>
            <h1>Gerenciador de Tarefas</h1>
        <button id="btn-nova-tarefa" class="btn-primary"> + Nova Tarefa</button>
        </header>

        <section id="lista-tarefas">
        </section>
    </main>

    <div id="modal-container" class="modal-overlay">
    <div class="modal-content">
        <h2>Nova Tarefa</h2>
        <div id="form-tarefa">
            <div class="campo">
                <label for="titulo">Título</label>
                <input type="text" id="titulo" name="titulo" placeholder="Ex: Estudar Node.js" required>
            </div>
            
            <div class="campo">
                <label for="descricao">Descrição</label>
                <textarea id="descricao" name="descricao" rows="3" placeholder="O que precisa ser feito?"></textarea>
            </div>

            <div class="modal-acoes">
                <button type="button" id="btn-cancelar" class="btn-secundario">Cancelar</button>
                <button class="btn-primary" id="btn-finalizar-criacao" onclick="handleCreateTask()">Criar Tarefa</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
    <script src="script.js"></script>
</body>
</html>